body {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  padding: 100px 30px;
  font-family: "Inter", sans-serif;
  background-color: var(--color-gray-1);
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}

:focus-visible {
  outline: 2px dashed var(--color-black);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
