.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  font-weight: 600;
}

.deleteAllButton {
  padding: 0;
  background-color: transparent;
  border: none;

  &:hover {
    color: var(--color-gray-4);
  }
}